body {
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
	background-image: url("../images/diagonalWaves.png");
	background-repeat: repeat;
	margin: 0;
	
}
header {
	background-color: white;	
	overflow: auto;
	border-bottom: 2px solid #777777;
}
h1 {
	background-color: #4aaaa5;
	color: white;
	padding: 10px;
	width: 25%;
	text-align: center;
	float: left;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 10%;
	font-size: 28px;

}
h2 {
	font-size: 24px;
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
}
h3 {
	font-size: 20px;
	padding: 10px;
	margin: 0;
}
h2, h3 {
	color: #4aaaa5;
}
h1, h2, h3 {
	font-family: "Georgia", Times, "Times New Roman", serif;
}
p {
	line-height: 1.5;
}
form {
	line-height: 1.5;
}
a {
	padding-left: 10px;
	padding-right: 10px;
	color: #777777;
	text-decoration: none;
}
footer {
	background-color: #777777;
	color: white;
	text-align: center;
	padding: 20px;
	clear: both;
	border-top: 5px solid #4aaaa5;
}
input {
	width: 100%;
}
.topPageNav {
	padding: 15px;
	float: right;
	width: 30%;
	margin-right: 5%;
}
.main {
	clear: both;
	overflow: auto;
	margin: 15px 10% 15px 10%;
	width: 970px;

}
.content {
	width: 650px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	
}
.socialConnect {
	text-align: center;
	float: right;
	width: 270px;
	padding-left: 20px;
	padding-right: 20px;
}
.socialIcon {
	height: 40px;
	width: 40px;
}
.socialConnect, .content, .topPageNav {
	background-color: white;
}
.socialNav, .emailForm {
	padding: 10px;
}

#profileImg {
	float: left;
	padding-right: 10px;
	padding-top: 10px;
}
#message {
	height: 200px;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* {
	outline: 1px solid red;
}